.bullet-list h2,
.large-list h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.list-green i {
    color: $green;
}

.list-blue i {
    color: $blue;
}

// \\\\\\\\\\\\\\\\\\\\
// \\\\ LARGE LIST \\\\
// \\\\\\\\\\\\\\\\\\\\

li a,
a li {
    color: $blue;
}

a li {
    margin-bottom: .7rem;
}

li a:hover,
a li:hover {
    color: lighten($blue, 10%);
}

li a:first-child {
    margin-left: 1.5rem;
}

.large-list {

    li:nth-of-type(2n+2) {
        margin-bottom: .7rem;
    }

    li:nth-of-type(2n+1) {
        padding-bottom: .2rem;
    }
}

.large-list i {
    color: $blue;
    margin-right: .3rem;
}